# Capstone Week 3 Project - Part 2

#### To set the context, the below is a continuation of part 1. Scroll to the bottom to pick with part 2

Get neighborhood data for Toronto

In [1]:
# Import all needed packages here
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import lxml
from pprint import pprint
from collections import defaultdict
import csv
print('Libraries imported.')

Libraries imported.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
# go get the web page
web_page = requests.get(url)
# make some tasty soup
soup = BeautifulSoup(web_page.content, 'html.parser')

I viewed the Wikipedia page in Firefox then pressed Ctrl+U to see the source. The data is in a table of class 'wikitable'. With this I will:
1. Get the HTML for that specific table
2. Parse out the row data
3. Load the data into a Python list
4. Create the pandas DataFrame from the list

**Note:** I am using ``defaultdict`` from the handy Python ``collections`` module to accumulate a list of neighborhoods in a borough. Then I do some data wrangling to transform that list into a comma separated string and output the results to the list for pandas DataFrame creation.

#### DataFrame Creation Below...

In [30]:
trono_fsas = soup.find('table', class_='wikitable')
html_rows = trono_fsas.find_all('tr')
data = []
d_pc_boro = defaultdict(list)
# loop thru the rows, populate dict with key (boro, pc), append list of neighborhoods
for tr in html_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if len(row) == 3:
        pc = row[0]
        boro = row[1]
        nbh = row[2]
        if boro == 'Not assigned':  # ignore cells with unassigned Borough
            continue
        if nbh == 'Not assigned':  # name unassigned neighborhoods to the name of the Borough
            nbh = boro
        d_pc_boro[(boro, pc)].append(nbh)  # group the neighborhoods
# loop thru the dict, turn list of neighborhoods to a string and output a list for pandas
for (bro, pcode), hoods in sorted(d_pc_boro.items()):
    nbstr = ', '.join(hoods)  # concatenate the hoods
    data.append([pcode, bro, nbstr])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighborhood'])

In [4]:
df.shape

(103, 3)

---

### Part 2 starts here. Make sure the above cells are run...

``Click Cell > Run All``

Download the Geospatial data

In [5]:
!conda install -c conda-forge geocoder --yes
import geocoder
print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /home/steve.orr/anaconda3

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geocoder-1.38.1            |             py_0          52 KB  conda-forge
    ratelim-0.1.6              |           py36_0           5 KB  conda-forge
    orderedset-2.0             |           py36_0         231 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         288 KB

The following NEW packages will be INSTALLED:

    geocoder:   1.38.1-py_0  conda-forge
    orderedset: 2.0-py36_0   conda-forge
    ratelim:    0.1.6-py36_0 conda-forge


Downloading and Extracting Packages
geocoder-1.38.1      | 52 KB     | ##################################### | 100%
ratelim-0.1.6        | 5 KB      | ##################################### | 100%
orderedset-2.0       | 231 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [31]:
# Looks like arcgis works okay - Google is not dependable
#g = geocoder.google('Toronto, Ontario')
g = geocoder.arcgis('Toronto, Ontario')
print(g.latlng)

[43.648690000000045, -79.38543999999996]

In [13]:
for idx, row in df.iterrows():
    lat = lng = None
    while lng is None:
        gc = geocoder.arcgis('{}, Toronto, Ontario'.format(row['PostalCode']))
        lat, lng = gc.latlng
    df.at[idx, 'Latitude'] = lat
    df.at[idx, 'Longitude'] = lng
    print(row['PostalCode'], lat, lng)

print('Done getting coordinates.')

M4N 43.728135000000066 -79.38709009599995
M4P 43.71275500000007 -79.38851449699996
M4R 43.71452278400005 -79.40695999999997
M4S 43.702765000000056 -79.38576922699997
M4T 43.69050500000003 -79.38297337799997
M4V 43.68600329800006 -79.40233499999994
M5N 43.711941154000044 -79.41911999999996
M5P 43.69478500000008 -79.41440483299994
M5R 43.674840000000074 -79.40369769099993
M4W 43.68196000000006 -79.37844455599998
M4X 43.66815500000007 -79.36660016899998
M4Y 43.666585000000055 -79.38130203699995
M5A 43.65512000000007 -79.36263979699999
M5B 43.65736301100003 -79.37817999999999
M5C 43.65121000000005 -79.37548057699996
M5E 43.64516015600003 -79.37367499999993
M5G 43.65609081300005 -79.38492999999994
M5H 43.64970000000005 -79.38258157399997
M5J 43.623470000000054 -79.39397931299999
M5K 43.64839853600006 -79.38393934999993
M5L 43.64839500000005 -79.37886491099994
M5S 43.663110000000074 -79.40180056699995
M5T 43.65352500000006 -79.39723062399997
M5V 43.64081500000003 -79.39953781899999
M5W 43.648690000000045 -79.38543999999996
M5X 43.64833647100005 -79.38446161299998
M6G 43.66869349500007 -79.42070999999999
M4E 43.67653131600008 -79.29540999999995
M4K 43.68326150000007 -79.35511999999994
M4L 43.667985000000044 -79.31464243899995
M4M 43.662765652000076 -79.33482999999995
M7Y 43.648690000000045 -79.38543999999996
M4B 43.70746500000007 -79.31180326899994
M4C 43.68964500000004 -79.30716516199999
M4G 43.70976500000006 -79.36379132299999
M4H 43.70124000000004 -79.34988053599994
M4J 43.688765344000046 -79.33417499999996
M8V 43.609920000000045 -79.49804936299995
M8W 43.601196379000044 -79.53888499999994
M8X 43.653590000000065 -79.51113014299995
M8Y 43.63276500000006 -79.48960141199996
M8Z 43.62507000000005 -79.52713539699994
M9A 43.662301917000036 -79.52830499999999
M9B 43.649737842000036 -79.55405499999995
M9C 43.648573449000025 -79.57824999999997
M9P 43.696300000000065 -79.53041120099994
M9R 43.68681000000004 -79.55728354099995
M9V 43.743795000000034 -79.58543142099995
M9W 43.71174000000008 -79.57940980999996
M7R 43.648690000000045 -79.38543999999996
M2H 43.80284500000005 -79.35623615099996
M2J 43.78081000000003 -79.34778216099994
M2K 43.781015000000025 -79.38054242199996
M2L 43.75717700000007 -79.37993999999998
M2M 43.791300000000035 -79.41354639199994
M2N 43.76816500000007 -79.40741984599998
M2P 43.74781000000007 -79.40006199699997
M2R 43.77774500000004 -79.44569980999995
M3A 43.75243500000005 -79.32926764499996
M3B 43.749055000000055 -79.36221249999994
M3C 43.72137500000008 -79.34341517599995
M3H 43.75787500000007 -79.44862056499994
M3J 43.76476500000007 -79.48850236099997
M3K 43.73893144400006 -79.46731999999997
M3L 43.74094500000007 -79.50500357499999
M3M 43.733610000000056 -79.49675000499997
M3N 43.75535563600005 -79.51958999999994
M4A 43.73041708400007 -79.31333999999998
M5M 43.73580500000003 -79.41924750999993
M6A 43.72327000000007 -79.45160268899997
M6B 43.70799000000005 -79.44837013099999
M6L 43.71381000000008 -79.48830076899998
M9L 43.75950000000006 -79.55702785699998
M9M 43.73366500000003 -79.53747679599996
M7A 43.66107155600008 -79.39089499999994
M1B 43.81165000000004 -79.19556138899998
M1C 43.78560500000003 -79.15870110299994
M1E 43.76569000000006 -79.17529924399997
M1G 43.76821641200007 -79.21760999999998
M1H 43.769608066000046 -79.23943999999995
M1J 43.743085000000065 -79.23217158499995
M1K 43.72625965800006 -79.26366999999993
M1L 43.71321309600006 -79.28490999999997
M1M 43.72357500000004 -79.23497617799995
M1N 43.696690000000046 -79.26006895899997
M1P 43.759975000000054 -79.26897402899993
M1R 43.75080267200008 -79.30055999999996
M1S 43.79394000000008 -79.26797613999997
M1T 43.78472500000004 -79.29924441799994
M1V 43.81759500000004 -79.28014659999997
M1W 43.80069800200005 -79.32073999999994
M1X 43.83421500000003 -79.21670085099998
M6H 43.66508694300006 -79.43870499999997
M6J 43.64852500000006 -79.41775713399994
M6K 43.639410000000055 -79.42543564399995
M6P 43.659730000000025 -79.46281194799997
M6R 43.64787000000007 -79.44976249999996
M6S 43.64957000000004 -79.47505693299996
M6C 43.692105179000066 -79.43035499999996
M6E 43.68861000000004 -79.45100340899995
M6M 43.69454500000006 -79.48449539499995
M6N 43.67579500000005 -79.48196038399999
M9N 43.70490500000005 -79.51771232799996

In [14]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M4N,Central Toronto,Lawrence Park,43.728135,-79.387090
1,M4P,Central Toronto,Davisville North,43.712755,-79.388514
2,M4R,Central Toronto,North Toronto West,43.714523,-79.406960
3,M4S,Central Toronto,Davisville,43.702765,-79.385769
4,M4T,Central Toronto,"Moore Park, Summerhill East",43.690505,-79.382973

In [15]:
!wget -q -O 'Geospatial_Coordinates.csv' https://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

Look at the data...

In [16]:
with open('Geospatial_Coordinates.csv') as csv_data:
    longlatdat = csv_data.readlines()
    longlatdat

In [17]:
longlatdat[:5]

['Postal Code,Latitude,Longitude\n',
 'M1B,43.8066863,-79.1943534\n',
 'M1C,43.7845351,-79.1604971\n',
 'M1E,43.7635726,-79.1887115\n',
 'M1G,43.7709921,-79.2169174\n']

There are three columns, so create a dictionary for each postal code so we can look them when we loop through our data.

In [18]:
d_postal_code = {}  # {'code': (lat, long)}
with open('Geospatial_Coordinates.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        d_postal_code[row['Postal Code']] = (row['Latitude'], row['Longitude'])

In [19]:
data[:5]

[['M4N', 'Central Toronto', 'Lawrence Park'],
 ['M4P', 'Central Toronto', 'Davisville North'],
 ['M4R', 'Central Toronto', 'North Toronto West'],
 ['M4S', 'Central Toronto', 'Davisville'],
 ['M4T', 'Central Toronto', 'Moore Park, Summerhill East']]

**Critical Note:** Make sure the data appears in the above. If not rerun the **DataFrame creation** cell above!!

Loop thru the original data and create a list with the coordinate data.

In [20]:
l_hoods = []
for pc, boro, hoods in data:
    lat, lng = d_postal_code[pc]
    l_hoods.append([pc, boro, hoods, lat, lng])
l_hoods[:5]

[['M4N', 'Central Toronto', 'Lawrence Park', '43.7280205', '-79.3887901'],
 ['M4P', 'Central Toronto', 'Davisville North', '43.7127511', '-79.3901975'],
 ['M4R', 'Central Toronto', 'North Toronto West', '43.7153834', '-79.4056784'],
 ['M4S', 'Central Toronto', 'Davisville', '43.7043244', '-79.3887901'],
 ['M4T',
  'Central Toronto',
  'Moore Park, Summerhill East',
  '43.6895743',
  '-79.3831599']]

Create the new DataFrame with the coordinate data...

In [29]:
coord_df = pd.DataFrame(l_hoods, columns=['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude'])

In [22]:
coord_df.shape

(103, 5)

In [23]:
df.shape

(103, 5)

#### Note from the below there differences depending on the data source.

In [25]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M4N,Central Toronto,Lawrence Park,43.728135,-79.387090
1,M4P,Central Toronto,Davisville North,43.712755,-79.388514
2,M4R,Central Toronto,North Toronto West,43.714523,-79.406960
3,M4S,Central Toronto,Davisville,43.702765,-79.385769
4,M4T,Central Toronto,"Moore Park, Summerhill East",43.690505,-79.382973

In [26]:
coord_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M4N,Central Toronto,Lawrence Park,43.7280205,-79.3887901
1,M4P,Central Toronto,Davisville North,43.7127511,-79.3901975
2,M4R,Central Toronto,North Toronto West,43.7153834,-79.4056784
3,M4S,Central Toronto,Davisville,43.7043244,-79.3887901
4,M4T,Central Toronto,"Moore Park, Summerhill East",43.6895743,-79.3831599

In [27]:
df.tail()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
98,M6C,York,Humewood-Cedarvale,43.692105,-79.430355
99,M6E,York,Caledonia-Fairbanks,43.688610,-79.451003
100,M6M,York,"Del Ray, Keelsdale, Mount Dennis, Silverthorn",43.694545,-79.484495
101,M6N,York,"The Junction North, Runnymede",43.675795,-79.481960
102,M9N,York,Weston,43.704905,-79.517712

In [28]:
coord_df.tail()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
98,M6C,York,Humewood-Cedarvale,43.6937813,-79.4281914
99,M6E,York,Caledonia-Fairbanks,43.6890256,-79.453512
100,M6M,York,"Del Ray, Keelsdale, Mount Dennis, Silverthorn",43.6911158,-79.4760133
101,M6N,York,"The Junction North, Runnymede",43.6731853,-79.4872619
102,M9N,York,Weston,43.706876,-79.5181884